.togglewrapper {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	position: relative;
	height: 20px;
	width: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.togglewrapper > input[type='checkbox'] {
	opacity: 0 !important;
}
.togglewrapper > .togglebase {
	cursor: pointer;
	display: inline-block;
	width: 40px;
	background-color: #AAA;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	transition: all .1s linear 0s;
}
.togglewrapper > .toggler {
	cursor: pointer;
	position: absolute;
	top: 1px;
	left: 1px;
	background-color: #FFF;
	border-radius: 9px;
	height: 18px;
	width: 18px;
	display: inline-block;
	transition: all .1s linear 0s;
}
.togglewrapper > .togglebase.checked {
	background-color: #002b36;
	transition: all .1s linear 0s;
}
.togglewrapper > .toggler.checked {
	left: 21px;
	transition: all .1s linear 0s;
}

.togglewrapper.square > .togglebase {
	border-radius: 0px;
	height: 18px;
	width: 36px;
	border: 2px solid #999;
	transition: all .2s linear 0s;
}
.togglewrapper.square > .toggler {
	border-radius: 0px;
	left: 2px;
	top: 2px;
	width: 10px;
	transition: all .1s linear 0s;
}
.togglewrapper.square > .toggler.checked {
	left: 28px;
	transition: all .1s linear 0s;
}

@media screen and (max-device-width: 640px)
{
	.togglewrapper {
		display: inline-block;
		position: relative;
		height: 80px;
		width: 160px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.togglewrapper > input[type='checkbox'] {
		opacity: 0 !important;
	}
	.togglewrapper > .togglebase {
		cursor: pointer;
		display: inline-block;
		width: 160px;
		background-color: #AAA;
		height: 80px;
		border-radius: 40px;
		position: absolute;
		top: 0px;
		left: 0px;
		transition: all .1s linear 0s;
	}
	.togglewrapper > .toggler {
		cursor: pointer;
		position: absolute;
		top: 4px;
		left: 4px;
		background-color: #FFF;
		border-radius: 36px;
		height: 72px;
		width: 72px;
		display: inline-block;
		transition: all .1s linear 0s;
	}
	.togglewrapper > .togglebase.checked {
		background-color: #002b36;
		transition: all .1s linear 0s;
	}
	.togglewrapper > .toggler.checked {
		left: 84px;
		transition: all .1s linear 0s;
	}

	.togglewrapper.square > .togglebase {
		border-radius: 0px;
		height: 72px;
		width: 144px;
		border: 8px solid #999;
		transition: all .2s linear 0s;
	}
	.togglewrapper.square > .toggler {
		border-radius: 0px;
		left: 8px;
		top: 8px;
		width: 40px;
		transition: all .1s linear 0s;
	}
	.togglewrapper.square > .toggler.checked {
		left: 112px;
		transition: all .1s linear 0s;
	}
}


.circle {
	width:41px;
	height: 41px;
	margin-top: 4px;
	display: inline-block;
	margin-left: 4px;
	padding: 0px;
	border-radius: 23px;
	background-color: white;
	z-index: 400;
	border: 1px solid #002b36;
}
.circleborder {
	width: 50px;
	height: 50px;
	background-color:#002b36;
	border-radius: 25px;
	border: 1px solid #002b36;
	background-image:
        linear-gradient(270deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}
.slider:hover{
	background-color: red;
}
.slider {
	width: 8px;
	height: 8px;
	border-radius:4px;
	border: 1px solid black;
	margin-left: 21px;
	margin-top:44px;
	background-color: white;
	content: "";
	display: inline-block;
	z-index: 1000;
	position: absolute;
	cursor: pointer;
}
.circle input {
	z-index: 500;
	margin-left: 2px;
	width:36px;
	height: 20px;
	margin-top: 11px;
	border: none;
	text-align: center;
}

/*
pie {
    width: 5em;
    height: 5em;
    display: block;
    border-radius: 50%;
    border: 2px solid green;
    float: left;
    margin: 1em;
}

.ten {
    background-image:
      linear-gradient(-54deg, white 50%, transparent 50%),
      linear-gradient(-90deg, green 50%, transparent 50%);
}

.twentyfive {
    background-image:
      linear-gradient(0deg, white 50%, transparent 50%),
      linear-gradient(-90deg, green 50%, transparent 50%);
}

.fifty {
    background-image:
      linear-gradient(-90deg, green 50%, transparent 50%);
}
 Slices greater than 50% require first gradient to be green -> transparent 

.seventyfive {
    background-image:
      linear-gradient(0deg, green 50%, transparent 50%),
      linear-gradient(-90deg, green 50%, transparent 50%);
}

.onehundred {
    background-image:
      linear-gradient(-90deg, green 50%, transparent 50%),
      linear-gradient(-90deg, white 50%, green 50%);
}*/